<section class="error">
  <div class="error__content">
    <div class="error__content--text">
      <span class="text--red error--title">ERROR</span>
      <span class="text--red error--text">No mobile version available for now <br/>Please use the desktop version :)</span>
    </div>
  </div>
</section>