.slick-arrow {
  color: $orange;
  text-transform: lowercase;
  font-size: 1em;
  border: 0;
  background: 0;
  position: absolute;
  bottom: -100px;
  outline: none;
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
  font-family: $fontNimbus;
}

.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}

.slick-slide {
  outline: none;
  img {
    display: inline-block;
  }
}
.slick-list {
  padding: 0 -10px;
}
