.slick-arrow {
  color: $orange;
  text-transform: lowercase;
  font-size: 1em;
  border: 0;
  background: 0;
  position: absolute;
  bottom: 0;
  outline: none;
  font-weight: 900;
  font-style: italic;
  cursor: pointer;
  font-family: $fontNimbus;
}

.slick-next {
  right: 0;
}
.slick-prev {
  left: 30px;
}

.slick-slide {
  outline: none;
  overflow: hidden;
  img {
    display: inline-block;
    max-width: 450px;
    height: auto;
  }
}
.slick-list {
  padding: 0 -10px;
}
